@tailwind base;
@tailwind components;
@tailwind utilities;

/* BODY */
body,
#__next {
	@apply max-w-full min-h-screen p-0 m-0 overflow-x-hidden text-white bg-purple-darker;
}
main {
	@apply w-full min-h-screen overflow-y-hidden;
}

/* TYPOGRAPHY */
label > span {
	@apply block mb-1 text-sm font-semibold leading-4;
}

.btn {
	@apply font-bold;
	font-family: "Lato", sans-serif;
}

/* INPUT */
.input-container {
	@apply relative flex flex-col gap-3;
}
.input-container > input {
	@apply w-full h-12 px-5 py-3 font-medium border rounded outline-none bg-purple-darker border-purple;
}
.input-container > .tag {
	@apply absolute p-2 text-xs rounded right-3 bottom-1 bg-purple-darkest;
}

p {
	font-family: "Lato", sans-serif;
	@apply text-lg font-medium leading-8;
}

h1,
.unlock-page_title {
	@apply text-3xl leading-[3rem] text-center md:text-left md:text-6xl font-bold md:leading-[5rem];
}

h2 {
	@apply text-3xl font-semibold text-center;
}

/* BUTTONS */
.btn {
	@apply inline-flex items-center justify-center h-12 gap-2 px-4 py-3 font-bold;
	border-radius: 4px;
	box-shadow: 0px 1px 2px 0px #0000000d;
}
.btn.round {
	@apply z-10 grid w-12 h-12 rounded-full bg-purple-darkest place-content-center md:h-[3.75rem] md:w-[3.75rem] md:text-2xl;
}
.btn.round.active {
	@apply bg-purple;
}
.btn.filled,
.btn-primary {
	@apply text-white;
	background-image: linear-gradient(120deg, #8e2de2 0%, #4a00e0 99%);
	background-size: 200% auto;
	transition: 0.5s;
	border: none !important;
}
.btn.filled:hover,
.btn-primary:hover {
	background-position: bottom right;
}
.btn.filled:disabled {
	@apply opacity-90;
	background-color: #2f273a;
	background-image: none;
}
.btn.outline {
	@apply border-2 outline-none text-purple border-purple;
}

.account-button__address {
	@apply relative grid h-12 px-5 py-4 rounded bg-purple-darkest place-content-center;
}

.account-button__tag {
	@apply px-3 py-1.5 text-sm bg-purple mx-auto font-bold rounded text-white grid place-content-center;
}

.account-button__tag-container {
	@apply absolute bottom-10 w-full px-2;
}

hr {
	@apply w-full mb-8 border-gray opacity-10;
}

/* COUNTDOWN */
.countdown {
	@apply flex items-center gap-3 font-bold md:gap-10 md:text-5xl;
}
.countdown__card {
	@apply flex flex-col w-[3.75rem] h-[5.625rem] md:w-[11.25rem] md:h-[10rem] md:text-lg font-medium rounded;
}
.countdown__time {
	@apply grid flex-1 pb-2 text-xl font-bold bg-purple-darkest place-content-center md:text-6xl;
}
.countdown__measure {
	@apply p-1 bg-purple;
}

/* WALLETS DROPDOWN */
.wallets-dropdown {
	@apply absolute top-12 right-0 z-[100] bg-purple-darker flex flex-col gap-5 rounded-b w-full;
	box-shadow: 0px 1px 2px 0px #0000000d;
}

/* CARD */
.card {
	@apply min-h-[20.75rem] w-[23rem] md:min-h-[24rem]  md:w-[25rem] relative pt-10 flex flex-col rounded bg-purple-darkest items-center;
}
.card__date {
	@apply flex flex-col absolute -top-8 w-[3.75rem] h-[5.625rem] font-medium;
}
.card__date-day {
	@apply grid h-12 text-xl rounded-t-md w-[3.75rem] bg-purple place-content-center;
}
.card__date-month {
	@apply grid h-6 font-bold uppercase bg-white text-purple place-content-center;
}
/* CONTAINER OVERRIDE */
.container {
	@apply px-5 -mt-5 pb-20 md:pb-40 max-w-none md:py-8 md:mt-[-4rem] md:px-[7.5rem] flex flex-col gap-5 z-[100] relative;
}

/* SCROLLBAR */
body::-webkit-scrollbar {
	@apply w-3 cursor-pointer;
}
body::-webkit-scrollbar-thumb {
	@apply rounded bg-purple;
}
body::-webkit-scrollbar-thumb:hover {
	@apply bg-opacity-90;
}

/* TEXT SELECTION */
::-moz-selection {
	@apply text-white bg-purple;
}
::selection {
	@apply text-white bg-purple;
}

/* DAPP UI OVERRIDES */
.unlock-page_card,
.modal-card,
.card {
	@apply p-5 rounded;
	background: #14073b !important;
}
.unlock-page_cardBody {
	@apply flex flex-col items-center justify-center w-full;
}
.dapp-core-ui-component,
.btn-primary {
	@apply w-full mb-2;
}
.modal-container {
	@apply grid px-5 place-content-center h-full;
}
.modal-content {
	@apply grid place-content-center;
}
.card-title {
	@apply w-full;
}
.card-title > div {
	@apply flex items-center justify-between w-full;
}
.unlock-page_cardContainer {
	@apply grid place-content-center;
}
.modal-card {
	@apply py-0;
}
.wallect-connect-login_title {
	@apply my-4;
}
.unlock-page_description {
	@apply mb-5;
}
.wallect-connect-login,
.ledger-login {
	@apply absolute z-[1000] top-40;
}
.card-body {
	@apply flex flex-col items-center justify-center w-full gap-4;
}
.justify-content-center {
	@apply mb-5;
}
.wallect-connect-login_leadText {
	@apply hidden;
}
.wallect-connect-login_mobileLoginButton {
	display: grid !important;
}
.wallect-connect-login_mobileLoginButton > svg {
	@apply hidden;
}
.modal-container {
	@apply absolute top-0 left-0 w-screen h-screen z-[1000];
}
.modal-backdrop.show {
	@apply absolute top-0 left-0 w-screen h-screen transition-colors duration-300 bg-purple bg-opacity-40 z-[100];
}
.modal-dialog {
	@apply mt-40;
}
.page-state_wrapper {
	@apply flex flex-col items-center justify-center w-full gap-5;
}
.tiny-label {
	@apply mt-[-12px] text-sm font-bold text-purple;
}
