@tailwind base;
@tailwind components;
@tailwind utilities;

/* BODY */
body,
#__next {
	@apply max-w-full min-h-screen p-0 m-0 overflow-x-hidden text-white bg-purple-darker;
}
main {
	@apply w-full min-h-screen overflow-y-hidden;
}

/* TYPOGRAPHY */
label > span {
	@apply block mb-1 text-sm font-semibold leading-4;
}

.btn {
	@apply font-bold;
	font-family: "Lato", sans-serif;
}

/* INPUT */
.input-container {
	@apply relative flex flex-col gap-3;
}
.input-container > input {
	@apply w-full h-12 px-5 py-3 font-medium border rounded outline-none bg-purple-darker border-purple;
}
.input-container > .tag {
	@apply absolute p-2 text-xs rounded right-3 bottom-1 bg-purple-darkest;
}

p {
	font-family: "Lato", sans-serif;
	@apply text-lg font-medium leading-8;
}

h1 {
	@apply text-3xl leading-[3rem] text-center md:text-left md:text-6xl font-bold md:leading-[5rem];
}

h2 {
	@apply text-3xl font-semibold text-center;
}

/* BUTTONS */
.btn {
	@apply inline-flex items-center justify-center h-12 gap-2 px-4 py-3 font-bold;
	border-radius: 4px;
	box-shadow: 0px 1px 2px 0px #0000000d;
}
.btn.round {
	@apply z-10 grid w-12 h-12 rounded-full bg-purple-darkest place-content-center md:h-[3.75rem] md:w-[3.75rem] md:text-2xl;
}
.btn.round.active {
	@apply bg-purple;
}
.btn.filled {
	@apply text-white;
	background-image: linear-gradient(120deg, #8e2de2 0%, #4a00e0 99%);
	background-size: 200% auto;
	transition: 0.5s;
}
.btn.filled:hover {
	background-position: bottom right;
}
.btn.filled:disabled {
	@apply opacity-90;
	background-color: #2f273a;
	background-image: none;
}
.btn.outline {
	@apply border-2 outline-none text-purple border-purple;
}

hr {
	@apply w-full mb-8 border-gray opacity-10;
}

/* COUNTDOWN */
.countdown {
	@apply flex items-center gap-3 font-bold md:gap-10 md:text-5xl;
}
.countdown__card {
	@apply flex flex-col w-[3.75rem] h-[5.625rem] md:w-[11.25rem] md:h-[10rem] md:text-lg font-medium rounded;
}
.countdown__time {
	@apply grid flex-1 pb-2 text-xl font-bold bg-purple-darkest place-content-center md:text-6xl;
}
.countdown__measure {
	@apply p-1 bg-purple;
}

/* WALLETS DROPDOWN */
.wallets-dropdown {
	@apply absolute top-12 right-0 z-[100] bg-purple-darker flex flex-col gap-5 rounded-b w-full;
	box-shadow: 0px 1px 2px 0px #0000000d;
}

.dapp-core-ui-component {
	@apply py-2.5;
}
.dapp-core-ui-component:hover {
	@apply cursor-pointer transition-colors duration-300 bg-purple-darkest;
}

/* CARD */
.card {
	@apply min-h-[20.75rem] w-[23rem] md:min-h-[24rem]  md:w-[25rem] relative pt-10 flex flex-col rounded bg-purple-darkest items-center;
}
.card__date {
	@apply flex flex-col absolute -top-8 w-[3.75rem] h-[5.625rem] font-medium;
}
.card__date-day {
	@apply grid h-12 text-xl rounded-t-md w-[3.75rem] bg-purple place-content-center;
}
.card__date-month {
	@apply grid h-6 font-bold uppercase bg-white text-purple place-content-center;
}
/* CONTAINER OVERRIDE */
.container {
	@apply px-5 pt-5 pb-20 md:pb-40 max-w-none md:py-8 md:px-[7.5rem] flex flex-col gap-5 z-[100] relative;
}

/* SCROLLBAR */
body::-webkit-scrollbar {
	@apply w-3 cursor-pointer;
}
body::-webkit-scrollbar-thumb {
	@apply rounded bg-purple;
}
body::-webkit-scrollbar-thumb:hover {
	@apply bg-opacity-90;
}

/* TEXT SELECTION */
::-moz-selection {
	@apply text-white bg-purple;
}
::selection {
	@apply text-white bg-purple;
}
